# Игнорируем скомпилированные Java-файлы
*.class

# Игнорируем папку с зависимостями (библиотеками)
lib/

# Игнорируем файлы конфигурации IDE
.idea/
*.iml

# Игнорируем временные файлы
*.log
*.tmp

# Игнорируем JDBC-драйвер (если он уже есть в папке lib)
lib/mysql-connector-java-*.jar
