# Игнор Java-файлов
*.class

# Игнор папки с зависимостями/библиотеками
lib/

# Игнор файлов конфигурации IDE
.idea/
*.iml

# Игнор временных файликов
*.log
*.tmp

# Игнорир JDBC-драйвера (если он уже в папке lib)
lib/mysql-connector-java-*.jar
